@{
    ViewData["Title"] = "Quản lý bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" class="m-0 font-weight-bold text-primary">Thêm bài viết mới</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên </th>
                        <th>Hình ảnh</th>
                        <th>Mô tả</th>
                        <th>Từ khoá</th>
                        <th>Thời gian</th>
                        <th>Người đăng</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- Modal Thêm Bài Viết-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Bài viết mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-7 col-lg-6">
                        <div>
                            <label for="title">Tên</label>
                            <input type="text" class="form form-control" id="title" />
                        </div>
                        <div>
                            <label for="description">Mô tả</label>
                            <input type="text" class="form form-control" id="description" />
                        </div>
                        <div>
                            <label for="keywords">Từ khoá</label>
                            <input type="text" class="form form-control" id="keywords" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-6">
                        <label for="mainImage">Hình ảnh chính</label>
                        <div class="d-flex align-items-center">
                            <input type="file" name="mainImage" id="mainImage" accept="image/*" class="form-control-file" onchange="previewMainImage(event)">
                            <button type="button" id="deleteMainImage" class="btn btn-sm ml-2" style="display: none;"><i class="fas fa-times"></i></button>
                        </div>
                        <img id="mainImagePreview" src="#" alt="Main Image Preview" style="max-width: 100%; display: none; width: 120px; margin-top:10px;">
                    </div>
                    <div class="col-12">
                        <label for="editor">Nội dung</label>
                        <div id="editor"></div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:void(0)" id="btnCreate" class="m-0 font-weight-bold text-primary">Lưu</a>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/ckeditor5-classic-free-full-feature@35.4.1/build/ckeditor.min.js"></script>
    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#editor'), {
                plugins: ['Essentials',
                    'Paragraph',
                    'Heading',
                    'Bold',
                    'Italic',
                    'Underline',
                    'Strikethrough',
                    'SourceEditing',
                    'Subscript',
                    'Superscript',
                    'Alignment',
                    'Indent',
                    'IndentBlock',
                    'BlockQuote',
                    'Link',
                    'Image',
                    'ImageCaption',
                    'ImageStyle',
                    'ImageToolbar',
                    'ImageUpload',
                    'List',
                    'MediaEmbed',
                    'PasteFromOffice',
                    'Table',
                    'TableToolbar',
                    'TableProperties',
                    'TableCellProperties',
                    'Highlight',
                    'FontFamily',
                    'FontSize',
                    'FontColor',
                    'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
            })
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function previewMainImage(event) {
            var input = event.target;
            var preview = document.getElementById('mainImagePreview');
            var deleteButton = document.getElementById('deleteMainImage');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    deleteButton.style.display = 'inline'; // Hiển thị nút xoá hình ảnh
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        // Xóa hình ảnh chính khi người dùng nhấp vào nút xoá
        document.getElementById('deleteMainImage').addEventListener('click', function () {
            var input = document.getElementById('mainImage');
            var preview = document.getElementById('mainImagePreview');
            var deleteButton = document.getElementById('deleteMainImage');

            input.value = ''; // Xóa giá trị của input file
            preview.src = ''; // Xóa hình ảnh được xem trước
            preview.style.display = 'none'; // Ẩn hình ảnh được xem trước
            deleteButton.style.display = 'none'; // Ẩn nút xoá hình ảnh
        });
        $("#btnCreate").click(function () {
            var title = $('#title').val();
            var content = editor.getData();
            var description = $('#description').val();
            var keywords = $('#keywords').val();
            var mainImage = $('#mainImage')[0].files[0];
            console.log(title, ",", content, ",", description, ",", keywords, ",", mainImage)
            if (title && content && description && keywords && mainImage !== undefined) {
                var formData = new FormData();
                formData.append('Title', title);
                formData.append('Content', content);
                formData.append('Description', description);
                formData.append('Keywords', keywords);
                formData.append('mainImage', mainImage);

                $.ajax({
                    url: '/Admin/News',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            // $('#dataTable').DataTable().ajax.reload();
                            showAlertModal('success', response.message);
                        } else {
                            showAlertModal('danger', response.message);
                        }
                    },
                    error: function () {
                        showAlertModal('danger', 'Có lỗi xảy ra khi gửi yêu cầu!');
                    }
                });
            } else {
                showAlertModal('danger', "Vui lòng nhập đủ các trường và chọn hình ảnh");
            }
        });

    </script>
}
