@{
    ViewData["Title"] = "Giới thiệu";
}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5" data-background="../assets/images/bg/testimonial-bg-2.jpg">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Liên hệ với Cafena</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Liên hệ</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- contact area start -->
    <div class="contact__area position-relative pt-120 pb-120">
        <span class="shape shape__1 position-absolute"><img src="~/assets/images/shape/hero-shape-2-1.png" alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="~/assets/images/shape/hero-shape-2-2.png" alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact__wrapper">
                        <div class="row mt-none-30">
                            <div class="col-lg-4 col-md-6 mt-30">
                                <div class="contact-info d-flex align-items-center justify-content-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="~/assets/images/icons/ci-1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Liên hệ</h3>
                                        <a href="mailto:vinhquytrinh@gmail.com">vinhquytrinh@gmail.com</a>
                                        <a href="tel:0946453657">0946453657</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-30">
                                <div class="contact-info d-flex align-items-center justify-content-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="~/assets/images/icons/ci-2.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Địa chỉ</h3>
                                        <p>
                                            451 Tôn Đản, Hoà An, Cẩm Lệ, Đà Nẵng, Việt Nam
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-30">
                                <div class="contact-info d-flex align-items-center justify-content-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <img src="~/assets/images/icons/ci-3.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Giờ mở cửa</h3>
                                        <p>Thứ 2 - Chủ nhật (7:00 am - 10:30 pm)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact__form mt-20">
                                    <form action="https://xpressrow.com/html/cafena/cafena/index.html" method="get">
                                        <div class="row">
                                            <div class="col-xl-6 mt-30">
                                                <div class="form-group">
                                                    <input type="text" name="name" id="name" placeholder="Họ tên bạn :">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mt-30">
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" placeholder="Email :">
                                                </div>
                                            </div>
                                            <div class="col-xl-12 mt-30">
                                                <div class="form-group">
                                                    <input type="text" name="subject" id="subject" placeholder="Nhập chủ đề :">
                                                </div>
                                            </div>
                                            <div class="col-xl-12 mt-30">
                                                <div class="form-group">
                                                    <textarea name="message" id="message" placeholder="Nội dung muốn gữi :"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 mt-20 text-center">
                                                <button type="submit" class="site-btn">Gữi tin nhắn</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area end -->
    <!-- map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.435896526748!2d108.18063087459959!3d16.04285454014455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219736c3081bb%3A0x54d411febb87296e!2zNDUxIFTDtG4gxJDhuqNuLCBIb8OgIEFuLCBD4bqpbSBM4buHLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1709229671728!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>