@{
    ViewData["Title"] = "Giỏ hàng";
}
@section Styles {
}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5" data-background="../assets/images/bg/testimonial-bg-2.jpg">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Giỏ hàng</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Giỏ hàng</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- cart area start -->
<div class="cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cart-wrapper">
                    <div class="table-content table-responsive">
                        <div class="d-none d-sm-block" id="cartTable">
                        </div>
                        <!--view mobie-->
                        <div class="d-sm-none" id="cartTableMobie">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-xl-5 col-lg-7">
                <div class="cart-total mt-30">
                    @* <h2 class="title">Cart Total</h2>
                    <div class="ct-sub">
                    <span>Sub Total</span>
                    <span>$ 180</span>
                    </div> *@
                    <div class="ct-sub ct-sub__total">
                        <span>Thành tiền</span>
                        <span id="txtTotal">0 đ</span>
                    </div>
                    @{

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (ViewBag.Cart == "True")
                            {
                                <a asp-controller="VnPay" asp-action="Index" class="site-btn">Tiền hành thanh toán</a>
                            }
                        }
                        else
                        {
                            <center style="color:orangered">Vui lòng đăng nhập để mua hàng</center>
                            <a asp-controller="Login" asp-action="Index" class="site-btn">Đăng nhập</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart area end -->
@section Scripts {
    <script>
        function formatCurrency(value) {
            return value.toFixed(0) + " đ";
        }

        function updateCartTable(data) {
            var cartTableHTML = '<table class="table"><thead><tr><th class="product-thumbnail">Hình ảnh</th><th class="cart-product-name">Tên</th><th class="product-price">Đơn giá</th><th class="product-quantity">Số lượng</th><th class="product-subtotal">Tổng</th></tr></thead><tbody>';
            var cartTableHTMLmobie = '<table class="table" style="width: 100%;"><thead><tr><th class="product-thumbnail ">Sản phẩm</th></tr></thead><tbody>';

            if (data.cartModels && data.cartModels.length > 0) {
                data.cartModels.forEach(function (item) {
                    cartTableHTML += '<tr>';
                    cartTableHTML += '<td class="product-thumbnail"><a href="#" class="img"><img src="' + item.productModel.url + '" alt=""></a>';
                    cartTableHTML += '<a href="javascript:void(0)" class="product-remove" onclick="updateQuantity(' + item.productModel.productId + ',' + 1 + ')"><i class="fal fa-plus"></i></a>';
                    cartTableHTML += '<a href="javascript:void(0)" class="product-remove" onclick="updateQuantity(' + item.productModel.productId + ',' + 0 + ')" ><i class="fal fa-minus"></i></a>';
                    cartTableHTML += '<a href="javascript:void(0)" class="product-remove" onclick="removeFromCart(' + item.productModel.productId + ')"><i class="fal fa-times"></i></a></td>';
                    cartTableHTML += '<td class="product-name"><a href="#">' + item.productModel.name + '</a></td>';
                    cartTableHTML += '<td class="product-price"><span class="amount">' + formatCurrency(item.productModel.price) + '</span></td>';
                    cartTableHTML += '<td class="product-quantity"><input type="number" value="' + item.quantity + '" min="1"></td>';
                    cartTableHTML += '<td class="product-subtotal"><span class="amount">' + formatCurrency(item.productModel.price * item.quantity) + '</span></td>';
                    cartTableHTML += '</tr>';

                    cartTableHTMLmobie += '<tr class="d-sm-none">';
                    cartTableHTMLmobie += '<td class="product-thumbnail">';
                    cartTableHTMLmobie += '<a href="#" class="img"><img src="' + item.productModel.url + '" alt=""></a>';
                    cartTableHTMLmobie += '<div>';
                    cartTableHTMLmobie += '<div class="product-remove"><span class="amount">' + item.productModel.name + '</span></div>';
                    cartTableHTMLmobie += '<a href="javascript:void(0)" class="product-remove" onclick="updateQuantity(' + item.productModel.productId + ', 1)"><i class="fal fa-plus"></i></a>';
                    cartTableHTMLmobie += '<span class="product-remove" style="color: #000;">' + item.quantity + '</span>';
                    cartTableHTMLmobie += '<a href="javascript:void(0)" class="product-remove" onclick="updateQuantity(' + item.productModel.productId + ', 0)"><i class="fal fa-minus"></i></a>';
                    cartTableHTMLmobie += '<a href="javascript:void(0)" class="product-remove" onclick="removeFromCart(' + item.productModel.productId + ')"><i class="fal fa-times"></i></a>';
                    cartTableHTMLmobie += '<div class="product-remove"><span class="amount">' + formatCurrency(item.productModel.price) + '</span></div>';
                    cartTableHTMLmobie += '</div>';
                    cartTableHTMLmobie += '</td>';
                    cartTableHTMLmobie += '</tr>';

                });
            } else {
                cartTableHTML += '<tr><td colspan="5">Giỏ của bạn đang trống!</td></tr>';
                cartTableHTMLmobie += '<tr><td colspan="5">Giỏ của bạn đang trống!</td></tr>';
            }

            cartTableHTML += '</tbody></table>';
            $('#cartTable').html(cartTableHTML);
            $('#cartTableMobie').html(cartTableHTMLmobie);
            $('#txtTotal').html(data.totalPrice + " đ");
        }

        // Hàm cập nhật số lượng
        function updateQuantity(productId, string) {
            let quantity = -1;
            if (string == 1) {
                quantity = 1;
            }
            $.ajax({
                url: '/Cart/UpdateQuantity',
                type: 'POST',
                data: { productId: productId, quantity: quantity },
                success: function (response) {
                    console.log("Quantity updated successfully");
                    getCart(); // Gọi lại hàm GetCart để cập nhật giỏ hàng
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error: ' + errorThrown);
                }
            });
        }

        // Hàm xóa khỏi giỏ hàng
        function removeFromCart(productId) {
            $.ajax({
                url: '/Cart/RemoveFromCart',
                type: 'POST',
                data: { productId: productId },
                success: function (response) {
                    console.log("Product removed from cart successfully");
                    getCart(); // Gọi lại hàm GetCart để cập nhật giỏ hàng
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error: ' + errorThrown);
                }
            });
        }

        // Hàm cập nhật thông tin giỏ hàng
        function getCart() {
            $.ajax({
                url: '/Cart/GetCart',
                type: 'GET',
                success: function (data) {
                    updateCartTable(data); // Cập nhật bảng giỏ hàng
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error: ' + errorThrown);
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            getCart(); // Gọi hàm getCart() khi trang web được tải lần đầu tiên
        });
    </script>
}